@model RestoMVC.Core.Restaurante
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Actualizar - Resto</title>
</head>

<body>
    <form asp-action="ActualizarRestaurante" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <div class="cons">
                <div>
                    <input asp-for="@Model.Id" type="hidden">
                </div>
                <div>
                    <label asp-for="Nombre">Nombre:</label>
                    <input asp-for="Nombre">
                </div>
                <div>
                    <label asp-for="Direccion">Direccion:</label>
                    <input asp-for="Direccion">
                </div>
                <div>
                    <label asp-for="Mail">Mail:</label>
                    <input asp-for="Mail">
                </div>
                <div>
                    <label asp-for="Telefono">Telefono:</label>
                    <input asp-for="Telefono">
                </div>
                <div>
                    <label asp-for="Contrasenia">Contrasenia:</label>
                    <input asp-for="Contrasenia" type="password">
                </div>
                <div>

                </div>
            </div>
            <button type="submit">Actualizar</button>
        </div>
    </form>

</body>

</html>