@model RestoMVC.Core.Restaurante;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    
    <title>RestoMVC - Restaurantes</title>
</head>
<body>
    <form asp-action="AltaRestaurante" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <center><label asp-for="Nombre">Nombre:</label></center>
        <center><input asp-for="Nombre"></center>
    </div>
    <div>
        <center><label asp-for="Direccion">Direccion:</label></center>
        <center><input asp-for="Direccion"></center>
    </div>
    <div>
        <center><label asp-for="Mail">Mail:</label></center>
        <center><input asp-for="Mail"></center>
    </div>
    <div>
        <center><label asp-for="Telefono">Telefono:</label></center>
        <center><input asp-for="Telefono"></center>
    </div>
    <div>
        <center><label asp-for="Contrasenia">Contrasenia:</label></center>
        <center><input asp-for="Contrasenia" type="password"></center>
    </div>
    <center><button type="submit">Alta Restaurante</button></center>
    </form>
</body>
</html>