@model RestoMVC.Core.Restaurante;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>RestoMVC - Restaurantes</title>
</head>
<body>
    <form asp-action="AltaRestaurante" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Nombre">Nombre:</label>
        <input asp-for="Nombre">
    </div>
    <div>
        <label asp-for="Direccion">Direccion:</label>
        <input asp-for="Direccion">
    </div>
    <div>
        <label asp-for="Mail">Mail:</label>
        <input asp-for="Mail">
    </div>
    <div>
        <label asp-for="Telefono">Telefono:</label>
        <input asp-for="Telefono">
    </div>
    <div>
        <label asp-for="Contrasenia">Contrasenia:</label>
        <input asp-for="Contrasenia" type="password">
    </div>
    <button type="submit">Alta Restaurante</button>
    </form>
</body>
</html>