@model RestoMVC.Core.Restaurante
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>RestoMVC - Detalle @Model.Nombre</title>
</head>

<body>
    <div class="cons">
        <h3>Restaurante:@Model.Nombre</h3>
        Direccion: @Model.Direccion<br>
        Mail: @Model.Mail
        Telefono: @Model.Telefono
        <br />
        <a asp-action="Index">Restaurantes</a>
    </div>

</body>

</html>