@model RestoMVC.Core.Restaurante 
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>RestoMVC - Restaurantes</title>
</head>
<body>
    <form asp-action="FormAlta" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Nombre">Nombre:</label>
            <label asp-for="Direccion">Direccion:</label>
            <label asp-for="Mail">Mail:</label>
            <label asp-for="Telefono">Telefono:</label>
            <label asp-for="Contrasenia">Contraseña:</label>
            <input asp-for="Nombre"/>
            <input asp-for="Direccion">
            <input asp-for="Mail">
            <input asp-for="Telefono">
            <input asp-for="Contrasenia">
        </div>
        <button type="submit">Alta Restaurante</button>
    </form>
</body>
</html>