@using RestoMVC.Core;
@model IEnumerable<Restaurante>
@{
    ViewData["Title"] = "Restaurantes";
}

<body>
    <table>
        <tbody>
            @foreach (Restaurante restaurante in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Restaurante" asp-action="Index"
                        asp-route-id="@restaurante.Id">@restaurante.Nombre</a>
                    </td>
                    <td>
                        <a asp-controller="Restaurante" asp-action="ActualizarRestaurante"
                        asp-route-id="@restaurante.Id">Actualizar</a>
                    </td>
                    <td>
                        <a asp-controller="Restauarnte" asp-action="ElimarRestaurante"
                        asp-route-id="@restaurante.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>