@model RestoMVC.Core.Restaurante
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>RestoMVC - Restaurantes</title>
</head>
<body>
    <form asp-action="Modificar" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Nombre">Nombre:</label>
            <input asp-for="Nombre" />
        </div>
        <button type="submit">Modificar Restaurante</button>
    </form>
</body>
</html>