@model RestoMVC.Core.Plato
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Actualizar - Plato</title>
</head>

<body>
    <form asp-action="ActualizarRestaurante" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <div class="cons">
                <div>
                    <input asp-for="@Model.Id" type="hidden">
                </div>
                <div>
                    <label asp-for="Nombre">Nombre:</label>
                    <input asp-for="Nombre">
                </div>
                <div>
                    <label asp-for="Precio">Precio:</label>
                    <input asp-for="Precio">
                </div>
            </div>
            <button type="submit">Actualizar</button>
        </div>
    </form>

</body>

</html>