@model RestoMVC.Core.Plato
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>RestoMVC - Detalle @Model.Nombre</title>
</head>

<body>
    <div class="cons">
        <ul>
            <h3>Restaurante:&nbsp;@Model.Nombre</h3><br>
            <h4> Direccion: @Model.Precio</h4>
        </ul>
        <a asp-action="Index">
            <h2>Platos</h2>
        </a>
    </div>

</body>

</html>