@model RestoMVC.Core.Plato
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Restaurante - Detalle @Model.Nombre</title>
</head>
<body>
    <a asp-controller="Plato" asp-action="FormAlta" asp-route-idPlato="@Model.Id">Alta Plato</a><br />
    <h5>Platos</h5>
    <table>
        <thead>
            <tr><td>Nombre</td><td>Acciones</td></tr>
        </thead>
        <tbody>
            @foreach (RestoMVC.Core.Categoria categoria in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Plato" asp-action="Detalle" asp-route-id="@plato.Id">@categoria.Nombre</a>
                    </td>
                    <td>
                        <!--Aca tengo que hacer un formulario por que dentro de él,
                        es la unica forma de invocar al método con verbo post-->
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>