@model RestoMVC.Core.Restaurante
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>RestoMVC - Detalle @Model.Nombre</title>
</head>

<body>
    <div class="cons">
        <ul>
            <h3>Restaurante:&nbsp;@Model.Nombre</h3><br>
            <h4> Direccion: @Model.Direccion </h4>
            <h4>Mail: @Model.Mail</h4>
            <h4>Telefono: @Model.Telefono</h4>
        </ul>



        <a asp-action="Index">
            <h2>Restaurantes</h2>
        </a>
    </div>

</body>

</html>