@model RestoMVC.Core.Plato
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Mercado Simple - Platos</title>
</head>
<body>
    <form asp-action="FormAlta" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Nombre">Nombre:</label>
            <input asp-for="Nombre" />
        </div>
        <button type="submit">Alta Plato</button>
    </form>
</body>
</html>