@using RestoMVC.Core;
@model IEnumerable<Plato>
@{
    ViewData["Title"] = "Platos";
}

<body>
    <table>
        <tbody>
            @foreach (Plato plato in Model)
            {
                <tr>
                    <div>
                        <td>
                            <a asp-controller="Plato" asp-action="Detalle" asp-route-id="@plato.Id"><button
                                type="submit"><b>@plato.Nombre</b></button></a>
                        </td>
                    </div>
                    <div>
                        <td>
                            <a asp-controller="Plato" asp-action="Actualizarplato" asp-route-id="@plato.Id"><button
                                type="submit"><b>Actualizar</b></button></a>
                        </td>
                    </div>
                    <div>
                        <td>
                            <form asp-controller="Plato" asp-action="Eliminarplato" method="post">
                                <input type="hidden" asp-for="@plato.Id">
                                <button type="submit"><b>Eliminar</b></button>
                            </form>
                        </td>
                    </div>
                    <div>
                </tr>
            }
        </tbody>
    </table>
</body>