@{
    Layout = null;
 }
<!DOCTYPE html>
<html>
<head>
    <title>RestoMVC</title>
</head>
<body>
    <center><h1>Elija una opcion</h1></center>
    <center><a asp-controller="Restaurante" asp-action="Index">Restaurantes</a></center><br/><br>
    <center><a asp-controller="Categoria" asp-action="Index">Categorias</a></center>
</body>
</html>