@{
    Layout = null;
 }
<!DOCTYPE html>
<html>
<head>
    <title>RestoMVC</title>
</head>
<body>
    <h2>Elegi donde entrar</h2>
    <a asp-controller="Restaurante" asp-action="Index">Restaurantes</a><br />
    <a asp-controller="Categoria" asp-action="Index">Categorias</a>
</body>
</html>